.saved__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 0.5);
  margin: 120px 0 28px;
}

@media screen and (max-width: 768px) {
  .saved__title {
    margin: 90px 0 16px;
    font-size: 14px;
  }
}

@media screen and (max-width: 580px) {
  .saved__title {
    margin-top: 64px;
    font-size: 12px;
  }
}