@import url("./__content/results__content.css");
@import url("./__title/results__title.css");
@import url("./__save-card/results__save-card.css");
@import url("./__cards/results__cards.css");
@import url("./__card/results__card.css");
@import url("./__card-content/results__card-content.css");
@import url("./__auth-alert/results__auth-alert.css");
@import url("./__show-more/results__show-more.css");
@import url("./__loading/results__loading.css");
@import url("./__preloader/results__preloader.css");
@import url("./__preloader-text/results__preloader-text.css");

.results {
  width: 100%;
  max-width: 1440px;
  margin: 0;
  padding: 80px 0 0;
  background: #F5F6F7;
}