@import url("./__content/results__content.css");
@import url("./__title/results__title.css");
@import url("./__show-more/results__show-more.css");
@import url("./__loading/results__loading.css");
@import url("./__preloader/results__preloader.css");
@import url("./__preloader-text/results__preloader-text.css");
@import url("./__not-found/results__not-found.css");
@import url("./__not-found-title/results__not-found-title.css");
@import url("./__not-found-text/results__not-found-text.css");

.results {
  width: 100%;
  max-width: 1440px;
  margin: 0;
  padding: 80px 0;
  background: #F5F6F7;
  display: none;
}

@media screen and (max-width: 768px) {
  .results {
    padding: 40px 0;
  }
}