.search__title {
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  line-height: 64px;
  color: #fff;
  margin: 160px 0 32px;
}

@media screen and (max-width: 768px) {
  .search__title {
    font-size: 36px;
    line-height: 40px;
    margin: 104px 0 16px;
    width: 370px;
  }
}

@media screen and (max-width: 480px) {
  .search__title {
    margin-top: 86px;
    width: 100%
  }
}