@import url("./_active/header__link_active.css");
@import url("./_active-black/header__link_active_black.css");

.header__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
  margin: 0 32px 0 0;
}