.header__content {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 104px*2);
  margin: 0 auto;
  padding: 0;
  position: relative;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  .header__content {
    width: calc(100% - 80px);
  }
}

@media screen and (max-width: 580px) {
  .header__content {
    width: calc(100% - 32px);
  }
}