.card__save {
  height: 40px;
  display: flex;
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 5;
}

.card__save:hover .card__alert {
  opacity: 1;
}

@media screen and (max-width: 950px) {
  .card__save {
    top: 8px;
    right: 8px;
  }
}
